/* google font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Nunito", sans-serif;
}

a {
  transition: 0.3s;
}

/* Hero banner */
.heroBanner {
  background: url(../../public/slider1.jpg) no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(29, 41, 62, 0.6);
}
